<h1> All post </h1>
<ul>
    <% @posts.each do |post| %>
        <li>
            <%=link_to post.caption,post %>
        </li>    
    <% end %>    
</ul>
<%= link_to "Upload New Post",new_post_path %><br>
<%= link_to "sign out",sign_out_path %>