<h1>Add Post</h1>
<%= form_with model: @post do |form| %>
    <div>
        <%= form.label :caption %><br>
        <%= form.text_field :caption%>
    </div>
    <div>
        <br>
        <%= form.submit %>
    </div>
<% end %>    